# Build system
/build/
/out/
/CMakeFiles/
/CMakeCache.txt
/*.sln
/*.vcxproj*

# Qt generated
*.qrc.depends
*.autosave
Makefile*

# Installers
/installer/
ncmtool_install/ncmtool_setup.exe

# VS Code
.vscode/

# User-specific
*.user
*.log
